/**********************Full Document**********************/

.background {
    background-image:url(/img/Produce.jpg);
    background-size:cover;
}

/**********************containers**********************/
.container {
}

/**********************Wells**********************/
.well {
    border-radius: 10px;
    border-width: medium;
    border-style: outset;
    opacity: .98;
}

/**********************Header**********************/
/*
font-family: 'Baloo', cursive;
font-family: 'Arvo', serif;
font-family: 'Lobster', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Varela Round', sans-serif;*/


#headerWell {
    padding: 1px;
    margin: 1px;
    text-align: center;
    text-align: center;
    color: black;
    font-family: 'Bree Serif', serif;
    font-size: 13px;
}

h1{
    font-size: 6em;
    font-family: 'Lobster', cursive;
}

h2{
    font-size: 4.5em;
    font-family: 'Lobster', cursive;
}

h3 {
    font-size: 1.3em;
}

#searchHeader{
    font-family: 'Varela Round', sans-serif;
}

#listTitle{
	font-size: 1.2em;
}
/**********************Footer**********************/

footer {
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: 'Lobster' , cursive;
}

/**********************nav pills**********************/

nav {
	align-content: center;
	align-self: center;
    padding: 1px;
    margin: 1px;
    text-align: center;
    color: black;
    opacity: 1;
    font-family: 'Varela Round', sans-serif;
    color: black;
    font-size: 1.2em;
}


/**********************Table**********************/

#resultsTable {
    opacity: .95;
    font-size: 1.3em;
    text-align: center;
    font-family: 'Bree Serif', serif;
}


/**********************Form**********************/

#myForm {
    text-align: center
}


/*********************TABLE ANIMATIONS*********************/

.animate-show {
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    background: white;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    transition: all linear;
}

.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}

.check-element {
    padding: 10px;
    background: white;
}


/*********************sugar-and-health.html*********************/
#youtubeWell{
    text-align: center;
    font-family: 'Bree Serif', serif;
}



a{
    font-size: 1.2em;
}

#link_list{
  padding-top: 1px;
  font-family: 'Varela Round', sans-serif;
  list-style: none;
  text-decoration: none;
}

#disclaimer{
	font-size: .7em
}


/*********************************MOBILE***************************************/

@media only screen and (max-width: 600px) {
   body,li,nav,ul,table,tr,td,img,form,footer,.well, {
      font-size: 89%;
   }
	.nav {
		padding-left: 9%
	}
	.nav li a { 
    	padding: 2px 3px;
	}
	.dropdown-menu li a{
		padding: 0 0 0 0;
	}
	
    h1 {
      font-size: 3em;
   }
    h2 {
      font-size: 2em;
    }
	h3 {
	  font-size: 1em;
	}
    #searchHeader {
        font-size: .9em;
    }
	
    .dropdown-menu{
        font-size:1.2em;
        padding: .7em;
    }
	#tableDiv{
	  overflow-x: auto;
	  overflow-y: auto;
	  white-space: nowrap;
		}

	#disclaimer{
		font-size: .5em;
	}

	#sugarLinks{
		font-family: 'Bree Serif', serif;
		font-size: 1.2em;
		text-decoration: none;
	}
	
	ul{
		padding: .01%;
		padding-right: 10%
		}
	
	#navTabs1{
		font-size: 70%;
	}
	
	.dropdown-menu{
		font-size: 70%;
	}
	
	.fluidMedia {
    position: relative;
    padding-bottom: 34.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 100%;
	width: 100%;
    overflow: hidden;
	}
	
	.fluidMedia iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width:100%;
    height: 100%;
	padding-bottom: 14px;
	}
	#youtubeWell{
		margin-left: 10%;
	}
}

/*****************************FULLSCREEN***************************************/

@media only screen and (min-width: 993px) {
	#navTitles{
		margin-left: 27%
		}
	form.navbar-form {
		padding-left: 16%
	}
	
	#sugarLinks{
    font-family: 'Bree Serif', serif;
    font-size: 1.3em;
    float: left;
    text-decoration: none;	
	}
	#youtubeWell{
		padding-left: 32%;
	}
}

/*********************************IPAD***************************************/

@media only screen and (min-width: 600px) and (max-width: 993px){
	#youtubeWell{
		padding-left: 20%;
	}
	form.navbar-form {
		padding-left:20%
	}
	#navTitles{
		margin-left: 12%
	}
	
	#sugarLinks{
    font-family: 'Bree Serif', serif;
    font-size: 1.3em;
    float: left;
    text-decoration: none;
}
	
	.fluidMedia {
    position: relative;
    padding-bottom: 34.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 100%;
	width: 100%;
    overflow: hidden;
	}
	
	.fluidMedia iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width:100%;
    height: 100%;
	}
	ul{

		}	
}



