/**********************Full Document**********************/

.background {
    background-image:url(/img/Produce.jpg);
    background-size:cover;
}

/**********************containers**********************/
.container {
}

/**********************Wells**********************/
.well {
    border-radius: 10px;
    border-width: medium;
    border-style: outset;
    opacity: .98;
}

/**********************Header**********************/
/*
font-family: 'Baloo', cursive;
font-family: 'Arvo', serif;
font-family: 'Lobster', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Varela Round', sans-serif;*/

.fluidMedia {
    position: relative;
    padding-bottom: 34.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width:100%;
    height: 100%;
}

#headerWell {
    padding: 1px;
    margin: 1px;
    text-align: center;
    text-align: center;
    color: black;
    font-family: 'Bree Serif', serif;
    font-size: 13px;
}

h1{
    font-size: 6em;
    font-family: 'Lobster', cursive;
}

h2{
    font-size: 4.5em;
    font-family: 'Lobster', cursive;
}

h3 {
    font-size: 1.3em;
}

#searchHeader{
    font-family: 'Varela Round', sans-serif;
}

#listTitle{
	font-size: 1.2em;
}
/**********************Footer**********************/

footer {
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: 'Lobster' , cursive;
}

/**********************nav pills**********************/

nav {
    padding: 1px;
    margin: 1px;
    text-align: center;
    color: black;
    opacity: 1;
    font-family: 'Varela Round', sans-serif;
    color: black;
    font-size: 1.2em;
}


/**********************Table**********************/

#resultsTable {
    opacity: .95;
    font-size: 1.3em;
    text-align: center;
    font-family: 'Bree Serif', serif;
}


/**********************Form**********************/

#myForm {
    text-align: center
}


/*********************TABLE ANIMATIONS*********************/

.animate-show {
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    background: white;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    transition: all linear;
}

.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}

.check-element {
    padding: 10px;
    background: white;
}


/*********************sugar-and-health.html*********************/
#youtubeWell{
    text-align: center;
    font-family: 'Bree Serif', serif;
    opacity: 1;
    font-size: 1em;
	padding-bottom: 1.3em;
	padding-left: 1em;
}

ul{
    list-style: none;
}

#sugarLinks{
    font-family: 'Bree Serif', serif;
    font-size: 1.3em;
    float: left;
    text-decoration: none;
    padding-right: 1.5em;
}

a{
    font-size: 1.3em;
}

#link_list{
  padding-top: 1px;
  font-family: 'Varela Round', sans-serif;
  list-style: none;
  text-decoration: none;
}

#disclaimer{
	font-size: .7em
}

@media only screen and (max-width: 768px) {
   body,li,nav,ul,table,tr,td,img,form,footer,.well, {
      font-size: 85%;
   }
    h1 {
      font-size: 3em;
   }
    h2 {
      font-size: 2em;
    }
	h3 {
	  font-size: 1em;
	}
    #searchHeader {
        font-size: 1em;
    }
    #youtubeWell{
        resize: both;
    }
    .dropdown-menu{
        font-size:1.2em;
        padding: .7em;
    }
	#tableDiv{
	  overflow-x: auto;
	  overflow-y: auto;
	  white-space: nowrap;
		}

	#disclaimer{
		font-size: .5em;
	}

	#sugarLinks{
		font-family: 'Bree Serif', serif;
		font-size: 1.2em;
		float: left;
		text-decoration: none;
		padding-right: 1em;
	}
	
	#navTabs1{
		font-size: 70%;
	}
	.dropdown-menu{
		font-size: 70%;
	}
	.fluidMedia {
    position: relative;
    padding-bottom: 34.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 100%;
	width: 100%;
    overflow: hidden;
	float: right;
}
	.fluidMedia iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width:100%;
    height: 100%;
}
}

@media only screen and (min-width: 1000px) {
	#navTitles{
		margin-left: 16em;
		margin-right: 4em;
		}
}




