/**********************Full Document**********************/

.background {
    background-image:url(/img/Produce.jpg);
    background-size:cover;
}

/**********************containers**********************/
.container {
}

/**********************Wells**********************/
.well {
    border-radius: 10px;
    border-width: medium;
    border-style: outset;
    opacity: .92;
}

/**********************Header**********************/
/*
font-family: 'Baloo', cursive;
font-family: 'Arvo', serif;
font-family: 'Lobster', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Varela Round', sans-serif;*/


#headerWell {
    padding: 1px;
    margin: 1px;
    text-align: center;
    text-align: center;
    color: black;
    opacity: .90;
    font-family: 'Bree Serif', serif;
    font-size: 13px;
}

h1{
    font-size: 6em;
    font-family: 'Lobster', cursive;
}

h2{
    font-size: 4.5em;
    font-family: 'Lobster', cursive;
}

h3 {
    font-size: 1.3em;
}

#searchHeader{
    font-family: 'Varela Round', sans-serif;
}

/**********************Footer**********************/

footer {
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: 'Lobster' , cursive;
}

/**********************nav pills**********************/

nav, {
    padding: 1px;
    margin: 1px;
    text-align: center;
    color: black;
    opacity: 1;
    font-family: 'Varela Round', sans-serif;
    color: black;
    font-size: 1.2em;
}

/**********************Table**********************/

#resultsTable {
    opacity: .85;
    font-size: 1.3em;
    text-align: center;
    font-family: 'Bree Serif', serif;
}


/**********************Form**********************/

#myForm {
    text-align: center
}


/*********************TABLE ANIMATIONS*********************/

.animate-show {
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    background: white;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    transition: all linear 0.6s;
}

.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}

.check-element {
    padding: 10px;
    background: white;
}


/*********************sugar-and-health.html*********************/
#youtubeWell{
    text-align: center;
    font-family: 'Bree Serif', serif;
    opacity: 1;
    font-size: 1em;
}

ul{
    list-style: none;
}

.dropdown-menu{
}

#sugarLinks{
    font-family: 'Bree Serif', serif;
    font-size: 1.3em;
    float: left;
    text-decoration: none;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 1.5em;
}

a{
    font-size: 1.4em;
}

#link_list{
  padding-top: 1px;
  font-family: 'Varela Round', sans-serif;
  list-style: none;
  text-decoration: none;
}

@media only screen and (max-width: 400px) {
   body,li,nav,ul,table,tr,td,img,form,footer,.well {
      font-size: 85%;
   }
    h1,h3 {
      font-size: 3em;
   }
    h2 {
      font-size: 2em;
    }
    #searchHeader {
        font-size: 1em;
    }
    #youtubeWell{
        resize: both;
    }
    .dropdown-menu{
        font-size:1.2em;
        padding: .7em;
    }
}
@media only screen and (min-width: 1000px) {
#navTitles{
    margin-left: 16em;
    margin-right: 4em;
    }
}

#tableDiv{
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
}
