<div ng-controller='myController'>
    <div class='container'>
        <div class='row'>
            <div id='headerWell' class="well">
                <div>
                    <h1>Glysemix</h1>
                    <h2>Count Carbs, not Calories.</h2>
                    <h4 id='searchHeader'>Please search a <strong>grocery item</strong> <br> or select a new search option below.</h4>
                </div>
                <div id='navDiv'>
                    <nav-bar></nav-bar>
                </div>
            </div>
        </div>
    </div>
</div>
