<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!--
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        </div>
-->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navTitles">
            <ul class="nav navbar-nav nav-tabs " role="tablist" id='navTabs1'>
                <li role="presentation"><a ng-href="#/" role="tab" data-toggle="tab">Home/Search</a></li>
                <li role="presentation"><a ng-href="#/sugar-and-health" role="tab" data-toggle="tab">Sugar and Health</a></li>
<!--                <li role="presentation"><a ng-href="#/glycemic-index" role="tab" data-toggle="tab">Glycemic Index</a></li>-->
                <li class="dropdown" id='searchDropdown'>
                    <a href="/main.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Search Options</strong><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a ng-href="#/" role="tab" data-toggle="tab"><a ng-href="#/">Search by <strong>Products</strong></a></a></li>
                        <li role="separator" class="divider"></li>
                        <li role="presentation"><a ng-href="#/" role="tab" data-toggle="tab"><a ng-href="#/search1">Search by <strong>Restaurant</strong></a></a></li>
                        <li role="separator" class="divider"></li>
                        <li role="presentation"><a ng-href="#/" role="tab" data-toggle="tab"><a ng-href="#/search3">Search by <strong>Ingredients</strong></a></a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
                <form class="navbar-form navbar-left">
                    <input class="form-control" type='text' placeholder="Seach a product, restaurant, or indgredient" ng-model="userInput" id="input1">
                    <button type="submit" class="btn btn-default" ng-click="searchFunction()">Search</button>
                </form>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div id="tableDiv">
    <table-results></table-results>
</div>
