<div ng-app="search1">
    <div ng-controller='search1Ctrl'>
        <div class='container'>
            <div class='row'>
                <br>
                <div id = 'headerWell' class="well">
                    <div>
                        <h1>Glysemix</h1>
                        <h2>Count Carbs, not Calories.</h2>
                        <br>
                        <h4 id='searchHeader'>Please search a <strong>Restaurant Menu Item</strong><br>Or selecet a new search option below.</h4>
                    </div>
                    <div id='navDiv'>
                        <nav-bar></nav-bar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
