<div ng-controller='myController'>
    <div class='container'>
        <div class='row'>
            <br>
            <div id='headerWell' class="well">
                <div>
                    <h1>Glysemix</h1>
                    <h2>Count Carbs, not Calories.</h2>
                    <h4 id='searchHeader'>Please search a <strong>grocery item</strong>(Coke, Oreos, Etc.) <br> or select a new search option below.</h4>
                </div>
                <div id='navDiv'>
                    <nav-bar></nav-bar>
                </div>
                <div class='container' id='youtubeWell'>
                    <section id='sugarLinks'>
                        <ul id="link_list">
                            <li>
                                <h2>Sugar and Your Health</h2>
                            </li>
                            <div class="fluidMedia">
                                <iframe src="https://www.youtube.com/embed/EFlnlGx0B5U" scrolling="no" frameborder="0"></iframe>
                            </div>
                            <li id='listTitle'><h3>Health, Diet, and Educational Links</h3></li>
                            <li> <a target="_blank" href='http://sugarscience.ucsf.edu/latest-sugarscience-research.html#.WRu9wHXyukA'>Medical Research</a></li>
                            <li> <a target="_blank" href='http://ajcn.nutrition.org/content/early/2010/01/13/ajcn.2009.27725.short'>Review of Fat's Effects on the Heart</a></li>
                            <li> <a target="_blank" href='https://www.nytimes.com/2017/01/13/opinion/sunday/big-sugars-secret-ally-nutritionists.html?rref=collection%2Ftimestopic%2FSugar&action=click&contentCollection=timestopics&region=stream&module=stream_unit&version=latest&contentPlacement=15&pgtype=collection'>NYT's reporting on Sugar</a></li>
                            <li> <a target="_blank" href='https://www.theguardian.com/society/2016/apr/07/the-sugar-conspiracy-robert-lustig-john-yudkin'>The Guardian's reporting on Sugar</a></li>
                            <li> <a target="_blank" href='https://www.youtube.com/watch?v=9E9bnjwQG9s'>The Truth About Sugar Documentary</a></li>
                            <li><a target="_blank" href='https://www.youtube.com/watch?v=K3ksKkCOgTw'>Secrets of Sugar CBC Documentary</a></li>
                            <li><a target="_blank" href='https://www.reddit.com/r/Keto/wiki/keto_in_a_nutshell'>Keto Diet Resources: r/keto</a></li>
                            <li><a target="_blank" href='https://reddit.com/r/Paleo/comments/1u11cc/sticky_newbies_start_here'>Paleo Diet Resources: r/paleo</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
