<div ng-controller='myController'>
    <div class='container'>
        <div class='row'>
            <br><br><br>
            <div id='headerWell' class="well" id>
                <div>
                    <h1>Glysemix</h1>
                    <h2>Count Carbs, not Calories.</h2>
                    <br>
                    <h4 id='searchHeader'>Please search a <strong>grocery item</strong>(Coke, Oreos, Etc.) <br> or select a new search option below.</h4>
                </div>
                    <div id='navDiv'>
                        <nav-bar></nav-bar>
                    </div>
                <div class='well' id='youtubeWell'>
                <section id='sugarLinks'>
                   <h4>Health, Diet, and Educational Links/FAQS</h4>
                    <ul id="link_list">
                        <li> <a target= "_blank" href='http://sugarscience.ucsf.edu/latest-sugarscience-research.html#.WRu9wHXyukA'>Medical Research</a></li>
                        <li> <a target= "_blank" href='http://ajcn.nutrition.org/content/early/2010/01/13/ajcn.2009.27725.short'>Review of Fat's Effects on the Heart</a></li>
						<li> <a target= "_blank" href='https://www.nytimes.com/2017/01/13/opinion/sunday/big-sugars-secret-ally-nutritionists.html?rref=collection%2Ftimestopic%2FSugar&action=click&contentCollection=timestopics&region=stream&module=stream_unit&version=latest&contentPlacement=15&pgtype=collection'>NYT's reporting on Sugar</a></li>
						<li> <a target= "_blank" href='https://www.theguardian.com/society/2016/apr/07/the-sugar-conspiracy-robert-lustig-john-yudkin'>The Guardian's reporting on Sugar</a></li>
                        <li> <a target= "_blank" href=https://www.youtube.com/watch?v=9E9bnjwQG9s>The Truth About Sugar Documentary
						<li><a target="_blank" href ='https://www.youtube.com/watch?v=K3ksKkCOgTw'>Secrets of Sugar CBC Documentary</a></li>
						<li><a target= "_blank" href='https://www.reddit/r/keto/wiki/faq.com'>Keto Diet Resources: r/keto</a></li>
                        <li> <a target= "_blank" href='https://reddit.com/r/Paleo/comments/1u11cc/sticky_newbies_start_here'>Paleo Diet Resources: r/paleo</a></li>
                    </ul>
                </section>
                    <h3>Sugar and your health</h3>
                       <iframe width="560" height="315" src="https://www.youtube.com/embed/EFlnlGx0B5U" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
